/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", sans-serif;
}

/* header */
header {
  height: 60px;
  background-color: rgba(255, 255, 255, 0.723);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 100px 0px 120px;
  color: gray;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
}

header img {
  max-width: 120px;
  width: auto;
}
a {
  text-decoration: none;
  color: gray;
  transition: 0.15s;
}

a:hover {
  text-decoration: underline;
}
nav ul {
  list-style-type: none;
  font-weight: 500;
  font-size: 13px;
}

li {
  display: inline;
  margin: 10px;
}

/* main section */

main {
  min-height: 100vh;
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.first-look {
  background-image: url(images/backgrounds/aerial-view-of-zanzibar-island.jpeg);
  height: 80vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 60px;
  border-radius: 20px;
  display: flex;
  position: relative;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.249);
}

.first-text {
  margin: auto auto auto auto;
  padding-bottom: 130px;
  width: fit-content;
  text-align: center;
  color: white;
}

.first-text h1 {
  font-size: 60px;
  margin-bottom: 10px;
}

.first-text h2 {
  font-weight: 300;
  font-size: 20px;
}

#book-btn {
  margin-top: 20px;
  height: 34px;
  width: 120px;
  border: none;
  border-radius: 17px;
  font-weight: bold;
  font-size: 12px;
  background-color: rgb(58, 152, 235);
  color: white;
  padding: 10px;
  transition: 0.3s;
}

#book-btn:hover {
  cursor: pointer;
  background: none;
  border: 3px solid rgb(58, 152, 235);
  padding: 0;
  font-size: 13px;
}

#book-btn:active {
  cursor: pointer;
  background-color: rgb(58, 152, 235);
  padding: 0;
  font-size: 13px;
}

.scrolldown-el {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}
.scrolldown-el button {
  height: 50px;
  width: 30px;
  border: none;
  background-color: white;
  border-radius: 30px;
  transition: 0.3s;
}

#scroll-btn:hover {
  padding-top: 15px;
  width: 32px;
}

#scroll-btn:active {
  padding-top: 15px;
  width: 32px;
  background: none;
  border: 3px solid white;
  color: white;
}
/* introduction */

.introduction {
  height: 420px;
  display: flex;
  justify-content: center;
  margin-top: -60px;
  padding-top: 100px;

  transition: 0.15s;
  background-color: rgb(58, 152, 235);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.249);
}

.introduction img {
  max-height: 250px;
  margin-left: 15px;
  margin-right: 30px;
  border-radius: 15px;
}

.introduction h3 {
  font-size: 30px;
  color: white;
}

.pictureismail {
  display: none;
}

.introduction p {
  max-width: 600px;
  margin: 20px auto;
  font-weight: 400;
  color: white;
}

/* experiences */

.experiences {
  background-color: white;
  height: auto;
  text-align: center;
  margin-top: 30px;
}

.experiences h4 {
  font-size: 30px;
}

.expgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 50px;
  column-gap: 20px;
  row-gap: 50px;
}

.exp {
  width: fit-content;
  position: relative;
  margin: auto;
}

.exp img {
  width: 300px;
  height: 300px;

  object-fit: cover;
  border-radius: 30px;
}

.exp div {
  width: 70%;
  margin: auto;
  height: 100px;
  border-radius: 30px;
  box-shadow: 0px 5px 15px rgba(213, 64, 64, 0.126);
  z-index: 80;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
}

.exp div p {
  font-size: 18px;
  font-weight: bold;
}

.exp div button {
  width: fit-content;
  margin: auto;
  height: 30px;
  padding: 7px;
  background-color: rgb(58, 152, 235);
  color: white;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  width: 90px;
  font-size: 12px;
  transition: 0.3s;
  margin-bottom: 20px;
}

.exp div button:hover {
  background: none;
  color: rgb(58, 152, 235);
  border: 3px solid rgb(58, 152, 235);
  padding: 0;
  font-weight: bolder;
  font-size: 13px;
  cursor: pointer;
}

.exp div button:active {
  color: white;
  background-color: rgb(58, 152, 235);
}

/* Footer */

footer {
  background: rgb(58, 152, 235);
  color: white;
  height: 150px;
  display: flex;
  margin-top: 50px;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

footer p {
  font-size: 15px;
}

#up-btn {
  height: 50px;
  width: 30px;
  border: none;
  background-color: white;
  border-radius: 30px;
  transition: 0.3s;
}

#up-btn:hover {
  padding-bottom: 15px;
}

#up-btn:active {
  padding-bottom: 15px;
  background: none;
  border: 3px solid white;
  color: white;
}

.social {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: none;
  margin: 5px;
  font-size: 20px;
  transition: 0.3s;
  background-color: white;
}

.social:hover {
  background: none;
  border: 3px solid white;
  color: white;
  font-size: 25px;
}

.extra-info {
  width: 600px;
  margin: 30px auto 30px auto;
  background-color: rgb(58, 152, 235);
  color: white;
  border-radius: 15px;
  padding: 30px;
}

.extra-info h6 {
  font-size: 28px;
  margin-bottom: 20px;
}

.extra-info p {
  font-weight: 400;
}

.extra-info button {
  margin: 15px auto;
  width: 80px;
  height: 36px;
  background-color: white;
  color: rgb(58, 152, 235);
  border: none;
  border-radius: 18px;
  font-weight: bold;
  font-size: 13px;
  transition: 0.3s;
}
.extra-info button:hover {
  background: none;
  border: 3px solid white;
  color: white;
  font-size: 14px;
}

.extra-info button:active {
  background-color: white;
  color: rgb(58, 152, 235);
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  /* header */
  header {
    height: 60px;
    padding: 0px 50px 0px 5px;
    width: 100%;
    background-color: white;
  }

  header img {
    max-width: 100px;
    width: auto;
  }

  .first-look {
    max-width: 80vw;
    margin: auto;
    margin-top: 60px;
  }

  /* introduction */

  .introduction {
    width: 100vw;
    flex-direction: column;
  }

  section#introduction.introduction {
    width: 100vw;
    padding: 20px 30px 30px 30px;
    height: 750px;
  }

  .introduction h3 {
    padding-top: 60px;
  }
  .mainismail {
    display: none;
  }

  .introduction div {
    max-width: 80vw;
  }
  /* experiences */

  .expgrid {
    grid-template-columns: 1fr;
  }

  .extra-info {
    width: 80vw;
  }

  footer {
    padding-left: 20px;
    padding-right: 20px;
  }

  .pictureismail {
    display: block;
    height: auto;
    width: auto;
    object-fit: contain;
  }
}
